<!--<table>
    <tr>
        <td>
            <app-details [id] = "34" title="Lotus" description="Ramans Wedding Flower" imageurl="/assets/images/flower.jpg" [likes]="4000"></app-details>
        </td>
   
        <td>
            <app-details [id] = "35" title="Rose"></app-details>
        </td>
   
        <td>
            <app-details></app-details>
        </td>
    </tr>
</table>-->

<!--<app-details [product]="flower[0]"></app-details>
<app-details [product]="flower[1]"></app-details>
<app-details [product]="flower[2]"></app-details>
<app-details [product]="flower[3]"></app-details>-->