<!--<h1>Hello Angular</h1>
<hr>
<ul>
  <li><a href="">Home</a></li>
  <li><a href="">Products</a></li>
  <li><a href="">About Us</a></li>
  <li><a href="">Contact Us</a></li>
</ul>
<br>
<hr>
<img src="assets/img.png" width="500px" height="300px" alt="Profile Image">

<p>Company : {{name}}</p>
<p>Director : {{fullname|uppercase}}</p>
<p>Location : {{city|lowercase}}</p>
<button (click)="changename()">Magic</button>

<hr>
<table>
  <tr>
    <td>  
      <app-login></app-login>
    </td>
    <td>  
      <app-register></app-register>
    </td>
    <td>
      <app-home></app-home>
    </td>
    <td>
   
    </td>
  </tr>
</table>
<hr><hr>
<button id="btn1">Show</button>
<button id="btn2">Display</button>
<app-list></app-list>-->
<app-framecontainer></app-framecontainer>

<!--<app-customers></app-customers>-->



